/* Java2HTML - Colour Definitions*/

/* Define colors, fonts and other style attributes here to override the defaults  */

/* Page background Colour */
body { background-color: #FFFFFF; }

/* Default Text Colour */
body {  color: #000000}

/* Header/Footer Colours */
#Header  { font-family: Arial, Helvetica, sans-serif; color: #000000;  background-color:#EEDDDD }

/* Line Number */
#LN     { color: #BBBBBB;  background-color:#FFFFFF }

/* Link Colours */
#Classes A:link		{ color: #000000; }
#Classes A:visited	{ color: #000000; }
#Classes PRE 		{ color: #000000; }

/* Token Colours */
#CharacerLiteral	{ color: #FF00FF; }
#StringLiteral		{ color: #FF00FF; }
#SingleLineComment	{ color: #008000; }
#FormalComment		{ color: #008000; }
#MultiLineComment	{ color: #008000; }
#Abstract		{ color: #0000FF ; font-weight: bold }
#Boolean		{ color: #0000FF ; font-weight: bold }
#Break			{ color: #0000FF ; font-weight: bold }
#Byte			{ color: #0000FF ; font-weight: bold }
#Case			{ color: #0000FF ; font-weight: bold }
#Catch			{ color: #0000FF ; font-weight: bold }
#Char			{ color: #0000FF ; font-weight: bold }
#Class			{ color: #0000FF ; font-weight: bold }
#Const			{ color: #0000FF ; font-weight: bold }
#Continue		{ color: #0000FF ; font-weight: bold }
#Default		{ color: #0000FF ; font-weight: bold }
#Do			{ color: #0000FF ; font-weight: bold }
#Double		{ color: #0000FF ; font-weight: bold }
#Else			{ color: #0000FF ; font-weight: bold }
#Extends		{ color: #0000FF ; font-weight: bold }
#False			{ color: #0000FF ; font-weight: bold }
#Final			{ color: #0000FF ; font-weight: bold }
#Finally		{ color: #0000FF ; font-weight: bold }
#Float			{ color: #0000FF ; font-weight: bold }
#For			{ color: #0000FF ; font-weight: bold }
#Goto			{ color: #0000FF ; font-weight: bold }
#If			{ color: #0000FF ; font-weight: bold }
#Implements		{ color: #0000FF ; font-weight: bold }
#Import		{ color: #0000FF ; font-weight: bold }
#InstanceOf		{ color: #0000FF ; font-weight: bold }
#Int			{ color: #0000FF ; font-weight: bold }
#Interface		{ color: #0000FF ; font-weight: bold }
#Long			{ color: #0000FF ; font-weight: bold }
#Native		{ color: #0000FF ; font-weight: bold }
#New			{ color: #0000FF ; font-weight: bold }
#Package		{ color: #0000FF ; font-weight: bold }
#Private		{ color: #0000FF ; font-weight: bold }
#Protected		{ color: #0000FF ; font-weight: bold }
#Public		{ color: #0000FF ; font-weight: bold }
#Return		{ color: #0000FF ; font-weight: bold }
#Short			{ color: #0000FF ; font-weight: bold }
#Static		{ color: #0000FF ; font-weight: bold }
#Super			{ color: #0000FF ; font-weight: bold }
#Switch		{ color: #0000FF ; font-weight: bold }
#Synchronized		{ color: #0000FF ; font-weight: bold }
#This			{ color: #0000FF ; font-weight: bold }
#Throw			{ color: #0000FF ; font-weight: bold }
#Throws		{ color: #0000FF ; font-weight: bold }
#Transient		{ color: #0000FF ; font-weight: bold }
#True			{ color: #0000FF ; font-weight: bold }
#Try			{ color: #0000FF ; font-weight: bold }
#Void			{ color: #0000FF ; font-weight: bold }
#Volatile		{ color: #0000FF ; font-weight: bold }
#While			{ color: #0000FF ; font-weight: bold }
#StrictFP			{ color: #0000FF ; font-weight: bold }
#IntegerLiteral	{ color: #000000 }
#DecimalLiteral	{ color: #000000 }
#HexLiteral		{ color: #000000 }
#OctalLiteral		{ color: #000000 }
#FloatPointLiteral	{ color: #000000 }